/* the following Code is written by Christian Davis */

html {
    font-family: 'Oswald', sans-serif;
}

main {
    margin: 0;
    margin-left: 24vw;
    margin-right: 24vw;
    margin-bottom: 4vw;
    padding-top: 0;
    padding-bottom:1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    font-family: 'Oswald', sans-serif;
    border-color: var(--border-color);
    border-style:solid;
    border-width:medium;
    border-top-width:0;
    border-bottom-width:0;
    background-color:var(--main-bg-color);
    color:var(--text-color);
}

#randomStream {
    border-left: 2px solid var(--section-border-color);
    border-right: 2px solid var(--section-border-color);
    border-bottom: 6px solid var(--color2);
    border-bottom-width: 6px;
    border-top-width:0;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1vw;
    padding-top: 0em;    
}


#randomStream #twitch-embed {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

#randomStream #twitch-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#randomStream #contentStream {
    display: flex;
    flex-direction: column;
    /* removed while testing stuff
    border-style: solid;
    border-width: thick;
    border-top-width: 0;
    border-color: var(-pre-hover);
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    */
    background-color: var(--section-color);
    padding: 1em;
}



#randomStream #title {
    display: inline-flex;
}

#contentStream #titleContent {
    position: relative;
    padding-bottom: 0.3em;
    padding-right: 0.4em;

}

#contentStream .titleCornor {
    bottom: 0;
    right: 0;
    position: absolute;
    width: 1em;
    height: 1em;
    border-style: solid;
    border-color: var(--fancy-border-color);
    border-top-width: 0;
    border-left-width: 0;

}

#randomStream #info {
    posistion: relative;
    display: flex;
}



#contentStream #infoContent {
    background-color: var(--section-color);
    padding-top: 0.2em;
    padding-left: 0.4em;
}



#contentStream .infoCornor {
    position: absolute;
    width: 1.5em;
    height: 1em;
    border-style: solid;
    border-bottom-width: 0;
    border-right-width: 0;
    border-color: var(--fancy-border-color);

}

#contentStream #tags {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 2em;
}

#contentStream #tags img {
    width: auto;
    height: 1.7em;
}

#recommendedStreamers {
    background-color: var(--section-color);
    position: relative;
    padding: 1vw;
    padding-top:0.4vw;
     margin-left: 1vw;
    margin-right: 1vw;
    display: flex;
    flex-direction: column;
    
    
    border: 2px solid var(--section-border-color);
    border-radius: 2px;
          border-bottom: 6px solid var(--color2);
    

}

#recommendedStreamers h1 {
    border-bottom-style: solid;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    border-bottom-color: var(--title-color);
    color:var(--h1-color);
}

#streamers {
    border-radius: 0.2em;
    position: relative;
    padding: 0.2em;
    
    margin: 0 auto;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}


.cdStreamerDiv {
    cursor: pointer;
    position: relative;
    border-bottom-style: solid;
    border-bottom-color: var(--pre-hover);
    border-bottom-width: thick;
    padding: 0em;
    display: block;
    min-width: 23%;
    /* Width: Percent */
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0.5em;
    transition: 0.4s;
    border-radius: 0.1em;
}

.cdStreamerDiv:hover {
    margin-bottom: -0.10em;
    padding-bottom: 0.6em;
    border-color: var(--post-hover);
}

.cdStreamerDiv p,
h3 {
    padding: 0;
    margin: 0.15em;
}

.cdStreamerDiv .cdPreviewImg {
    border-top-left-radius: 0.1em;
    border-top-right-radius: 0.1em;
    border: thin solid black;
    display: block;
    width: 100%;
    height: auto;
    align-items: center;

}

.cdStreamerDiv .redDot {
    color: red;
    font-size: 100%
}

.cdBottomBox {
    background-color: var(--bottom-box);
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
}

.cdStreamerInformation {
    padding: 0.2em;
    margin: 0.2em;
    display: flex;
    flex-direction: column;
}

.cdStreamerInformation .tagPicture {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 2em;
}

.cdStreamerInformation img {
    width: auto;
    height: 1.7em;
}

.cdStreamerInformation p {
    font-style:normal;
    position: relative;
    padding: 0.2;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cdStreamerTags {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
}

.cdInternalTagSetup {
    display: flex;
    flex-direction: row;
}

#gameSection {
   background-color: var(--section-color);
    padding: 0;
    padding-top:0.4vw;
    margin: 1vw;
    margin-top: 2vw;
    margin-bottom: 1vw;
    display: flex;
    flex-direction: column;
    
    border: 2px solid var(--section-border-color);
    border-radius: 2px;
    

}

#gameSection h1 {
    border-bottom-style: solid;
    padding: 0;
    margin: 0;
    margin-left: 2vw;
    margin-right: 2vw;
    display: flex;
    flex-direction: column;
     border-bottom-color: var(--title-color);
    color: var(--h1-color);
    
}

#games form {
    border-radius: 0.2em;
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    justify-content: center;
   


}

#games input {
    min-width: 11%;
    border-top-left-radius: 0.1em;
    border-top-right-radius: 0.1em;
    border-radius: 0.1em;
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-bottom-color: var(--pre-hover);
    margin: 0.5em;
    transition: 0.15s;
}

#games input:hover {
    margin-bottom: 0.1em;
    padding-bottom: 0.4em;
    border-color: var(--post-hover);
}

/* This is where channel page will be styled
Koden skrevet af Christian Davis */

#channelpage {
    padding: 3vw;
    padding-top: 0;
    border: medium solid var(--section-border-color);
    border-top-width:0;
}

#channelPage #channelContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    position: relative;
    height: 35vw;
    border: medium solid var(--section-border-color);
     border-top-width:0;
    border-bottom-width: 0;
}

#channelPage #channelContent #twitch-embed {
    height: inherit;
    display: flex;
    flex-grow: 3;
    flex-shrink: 1;
}

#channelPage #channelContent #chat-embed {
    min-height: 100%;
    height: inherit;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
}

#channelPage #streamInfo {
    border: medium solid var(--section-border-color);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-top-width: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#channelPage #streamInfo h3 {
    color:var(--h1-color);
    font-size: 1.3vw;
    margin-top: 0.4em;
    padding-left: 0.2em;
    margin-left: 1em;
    border-left: thick solid var(--fancy-border-color);
    display: flex;
    flex-basis: 100%;
    flex-grow: 3;
    max-width: 80%;
}

#channelPage #streamInfo button {
    position: absolute;
    top: 0em;
    right: 0em;
    margin-top: 0.4em;
    margin-right: 0.5em;
    background-color: #6441a4;
    color: white;
    padding: 0.3em;
    flex-shrink: 1;
    border: 0;
    cursor: pointer;
}

#channelPage #streamInfo button:hover {
    background-color: var(--main-color);
}


#channelPage #streamInfo form {
    flex-shrink: 0;
    display: flex;


}

#channelPage #streamInfo input {

    display: flex;
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-bottom-color: var(--pre-hover);
    margin: 0.6em;
    transition: 0.15s;
}

#channelPage #streamInfo input:hover {
    margin-bottom: 0.25em;
    padding-bottom: 0.35em;
    border-color: var(--post-hover);
}

#channelPage #streamInfo #info {
    position: relative;
    display: inline-block;
    flex-direction: column;
    background-color: var(--section-color);
    margin: 0.6em;
    padding: 0.5em;
}

#channelPage #streamInfo #info .topLeftCornor {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5em;
    height: 1.5em;
    border-style: solid;
    border-bottom-width: 0;
    border-right-width: 0;
    border-color: var(--fancy-border-color);
}

#channelPage #streamInfo #info .topRightCornor {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5em;
    height: 1.5em;
    border-style: solid;
    border-bottom-width: 0;
    border-left-width: 0;
    border-color: var(--fancy-border-color);
}

#channelPage #streamInfo #info .botRightCornor {
    bottom: 0;
    right: 0;
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    border-style: solid;
    border-color: var(--fancy-border-color);
    border-top-width: 0;
    border-left-width: 0;

}

#channelPage #streamInfo #info .botLeftCornor {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    border-style: solid;
    border-color: var(--fancy-border-color);
    border-top-width: 0;
    border-right-width: 0;

}


#channelPage #streamInfo #wrap {
    display: inline-block;
}

#channelPage #streamInfo #wrap span {
    font-size: 1.5vw;
    border-bottom: thin solid rebeccapurple;
    display: inline-block;
    padding: 0;
    margin: 0;
}

#channelPage #streamInfo #container #info #wrap #descTagWrap {
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#channelPage #streamInfo #descTagWrap #tags {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
}

#channelPage #streamInfo #container {
    display: flex;

}

#channelPage #streamInfo #streamerDescription {
    width: 60%;
}

#channelPage #streamInfo .cdTagImage {
    max-width: 48px;
    max-height: 48px;
}

/* media query's for responsiveness */

@media screen and (max-width:1050px) {
    main {
        padding:0;
    }
    #channelPage #streamInfo button {
        font-size: 70%;
    }

    .cdStreamerDiv img {
        font-size: 80%;
    }
}

@media screen and (max-width:700px) {
    .cdStreamerDiv img {
        font-size: 80%;
    }

    #channelPage #streamInfo button {
        font-size: 50%;
    }

    #channelPage #channelContent {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    }

    #channelPage #channelContent iframe {
        font-size: 40%;
    }
}
