/* General styling and navigationbar styling*/
/* Koden skrevet af Mikkel Kokholm */
body{
    
    font-size: 1em;
    margin: 0px;
    height: 100vh;
    width: 100%;
   
        /* #745a5e */

    
    /* Red, blue, orange color palette https://imgur.com/a/PjC3z 
   /* Setup Colors: Mostly a test *
    --color1: #712000; /* this is the primary color *
    --color2: #0E3D61; /* buttons and post hover etc the second most color *
    --color2-dark: #011A2D; /* title underline and fancy borders *
    --color2-border: #021828; /* Section borders *
    --color3-text: #965C0D; /* The text color of content *
    --h1: var(--color1);
    --nav:#dddddd; /* navbar text color *
    --bottom-box:#282828;  /* streamer div text color  282828 is good *
    --bg: #282828;
    --section-color:#151515; /* 151515 is good *
    
    

    
    /* The primary color for the website *
    --main-color: var(--color1);
    
    
    /* border and styling stuff *
    
    --section-border-color:var(--color2-border); 

    --title-color: var(--color2-dark);
    
    --fancy-border-color:var(--color2-dark);
    
    --button-color: var(--color2);
    
    /* hover function *

    --pre-hover: var(--color2);
    
    --post-hover: var(--main-color);
    
    /* Text colors *
    
    --text-color:var(--color3-text);
    
    --h1-color: var(--h1);
    
    --nav-text:var(--nav);
    
    --tag-text-color: var(--nav-text);
    
     --tag-h2: var(--h1-color);
    
    /* background colors and such *
    
    --bottom-box:#282828;  /*282828 is good *
       
    --standard-bg-color: #282828; /*282828 is good *
    
    --section-color:#151515; /* 151515 is good *
    
    --standard-bg-color: var(--bg); /* 282828 is good *

    --sidebar-bg-color:var( --section-color);
    
    --main-bg-color:var(--standard-bg-color);
    
    --bg-color: var(--standard-bg-color);
    
    --border-color: var(--standard-bg-color);
    
    
    
    */
    
    
    /* Setup Colors: Mostly a test */
    --color1: #ffffff; /* this is the primary color */
    --color2: rgb(0, 0, 255); /* buttons and post hover etc the second most color */
    --color2-dark: #a7d2f2; /* title underline and fancy borders */
    --color2-border: rgb(180, 222, 255); /* Section borders */
    --h1: #3a3a8e;
    --color3-text: #000000; /* The text color of content */
    --nav:rgb(0, 23, 150); /* navbar text color */
    --bottom-box:rgba(17, 5, 34, 0.81);  /* streamer div text color  282828 is good */
    --bg: rgb(255, 255, 255);
    --section-color:rgba(255, 255, 255, 0.87); /* 151515 is good */
    
    
    /* The primary color for the website */
    --main-color: var(--color1);
    
    
    /* border and styling stuff */
    
    --section-border-color:var(--color2-border); 

    --title-color: var(--color2-dark);
    
    --fancy-border-color:var(--color2-dark);
    
    --button-color: var(--color2);
    
    /* hover function */

    --pre-hover: var(--color2);
    
    --post-hover: var(--main-color);
    
    /* Text colors */
    
    --text-color:var(--color3-text);
    
    --h1-color: var(--h1);
    
    --nav-text:var(--nav);
    
    --tag-text-color: var(--nav-text);
    
     --tag-h2: var(--h1-color);
    
    /* background colors and such *
    
    --bottom-box:#282828;  /*282828 is good *
       
    --standard-bg-color: #282828; /*282828 is good *
    
    --section-color:#151515; /* 151515 is good */
    
    --standard-bg-color: var(--bg); /* 282828 is good */

    --sidebar-bg-color:var( --section-color);
    
    --main-bg-color:rgba(222, 229, 236, 0);
    
    --bg-color: var(--standard-bg-color);
    
    --border-color:rgba(222, 229, 236, 0);
    
    /* space img: http://backgrounds.mysitemyway.com/background/tileable-classic-nebula-space-patterns-7/
        starlight img: http://backgrounds.mysitemyway.com/free-starfield-tileable-twitter-background/
        snow img: https://www.toptal.com/designers/subtlepatterns/fresh-snow/
    */
    
    
   
     background-image: url("../img/whitewall-test.png"); 
    background-blend-mode: multiply;
    background-color: var(--bg-color);
}

header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

main {
    margin-top: 48px;
    z-index: 1;
}

.nav {
    height: 50px;
    z-index: 10000;
    
    
}

.nav .navprofileimage {
    width: 24px;
    height: 24px;
}

.box
{   display: inline-block;
    float:left;
	height:40px;
	overflow: hidden;
	width:25%;
    position: relative;
    background-color: var(--main-color);
    border-bottom: 8px solid var(--color2);
}

.box a
{	color:var(--nav-text);
	text-decoration: none;
    font-size: 100%;
	text-align: center;
	vertical-align: middle;
	height:100%;
	display:block;
    padding-top: 10px;
}

.box span
{
    display:block;
    position:relative;
    top:100%;
    text-align: center;
    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    transition: top 0.5s;
}

.nav:hover .box { width: 25%; }

.nav .box:hover { width: 25%; }

.box:hover span{ top:10%; }

/*SIDEBAR
Koden skrevet af: Asger Smedegaard */
.sideBar {
    position: fixed;
    height: 100%;
    width: 220px;
    background-color: var(--sidebar-bg-color);
    overflow: hidden;
    margin-left:8.5vw;
    border-left: thin solid var(--border-color);
    -webkit-transition: width 0.4s, background-color 0.4s;
    -moz-transition: width 0.4s, background-color 0.4s;
    transition: width 0.4s, background-color 0.4s;
    z-index: 2;
    
    
    border: 2px solid var(--section-border-color);
    border-radius: 2px;
    border-top-width:0; 
    
}

.sideBar #mobilehint {
    display: none;
    position: relative;
    top: 45%;
    transform: rotate(270deg);
    white-space: nowrap;
    color: rgb(67,50,80);
}

.sideBar .h2Img {
    height: 32px;
    width: 32px;
    display: none;
}

.sideBar #popTags {
    width: 100%;
    position: relative;
    font-family: Arial;
    font-size: 150%;
    text-align: center;
}

#sidebar .tagContainer {
    display: inline-block;
    margin: 7px;
    margin-bottom: 3px;
    border-bottom: 4px solid var(--pre-hover);
    transition: 0.15s;
    background-color: transparent;
    margin-right: 25px;
    margin-left: 25px;
}

#sidebar .tagContainer:hover {
    cursor: pointer;
    margin-bottom: 0px;
    padding-bottom: 3px;
    border-bottom: 4px solid var(--post-hover);
}

#sidebar .tagContainer.chosenFilter {
    margin-bottom: 0px;
    padding-bottom: 3px;
    border-bottom: 4px solid var(--post-hover);
}

.tags {
    font-size: 0.8em;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--button-color);
    border: 2px solid var(--button-color);
    border-left-width: 0px;
    color: var(--tag-text-color);
    padding-right: 1.4em;
}

.tags:hover {
    cursor: pointer;
}

.sideBar #reset_button {
    font-size: 0.9em;
    background-color: var(--main-color);
    color: white;
    border: 0px;
}

.sideBar #reset_button:hover {
    cursor: pointer;
}

.sideBar #populargames #gamesform {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

.sideBar #populargames .sidebargame {
    flex: 1 1;
    height: auto;
    margin: 7px;
    margin-bottom: 3px;
    border-bottom: 4px solid var(--pre-hover);
    width: 40%;
    transition: 0.15s;
    background-color: transparent;
}

.sideBar #populargames .sidebargame.chosenFilter {
    margin-bottom: 0px;
    padding-bottom: 3px;
    border-bottom: 4px solid var(--post-hover);
}

.sideBar #populargames .sidebargame:hover {
    margin-bottom: 0px;
    padding-bottom: 3px;
    border-bottom: 4px solid var(--post-hover);
}

.sideBar h2 {
    border-bottom: 1px solid var(--section-border-color);
    border-top: 1px solid var(--section-border-color);
    position: relative;
    text-align: center;
    color: var(--tag-h2);
}

/* Styling for collapsed sidebar with element.collapsed selectors
Koden skrevet af Asger møller */
#sidebar.collapsed {
    width: 48px;
}

main.collapsed {
    margin-left: 58px;
}

.sideBar .h2Img.collapsed {
    display: inline-block;
}

.sideBar h2.collapsed {
    font-size: 0px;
    margin-top: 24px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-width: 2px;
}

.sideBar h2.collapsed:first-child {
    margin-top: 8px;
}

#sidebar .tagContainer.collapsed {
    margin-left: 0px;
    margin-right: 0px;
}

#sidebar .tags.collapsed {
    text-align: center;
    font-size: 0px;
    background-color: transparent;
    width: 34px;
    height: 34px;
    border: 0px;
}

.sideBar #reset_button.collapsed {
    background-color: transparent;
    background-image: url(/img/icomoon-free_2014-12-23_cross_48-nohover.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 0px;
    width: 34px;
    height: 34px;
    border: 0px;
    transition: background-image 0.15s;
}

.sideBar #reset_button.collapsed:hover {
    background-image: url(/img/icomoon-free_2014-12-23_cross_48-hover.png);
}

.sideBar #populargames .sidebargame.collapsed {
    width: 100%;
    margin-top: 4px;
}

/* General media Queries for the sidebar
Koden skrevet af: Asger Smedegaard */
@media screen and (max-width:700px) {
    main{
        margin-left: 15px;
    }
    
    main.collapsed {
        margin-left: 15px;
    }
    
    #sidebar {
        box-shadow: 5px 0 3px -2px #888;
        width: 75%;
    }
    
    #sidebar.collapsed {
        background-color: rgb(127,122,195);
        width: 20px;
    }
    
    #sidebar *.collapsed {
        display: none;
    }
    
    #sidebar #populargames .sidebargame {
        width: 30%;
    }
    
    .sideBar #mobilehint.collapsed {
        display: block
    }
}

@media screen and (min-width:2310px) {
    .sideBar {
        width: 10.5vw;
    }
    
    main{
        margin-left: 10.5vw;
    }
}


/* Profile Page styling
Koden skrevet af Mikkel Kokholm */
#profilePage {
    position: relative;
    padding: 3vw;
    padding-top: 0;
    border: medium solid var(--pre-hover);
}

#streamerInfoDiv {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    width: 50%
}

#streamerInfo input[type=url], input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#streamerInfo input[type=submit] {
    width: 100%;
    background-color: var(--post-hover);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: center;
}

#profilePage #doYouStream {
    background-color: var(--post-hover);
    font-size: 1.2em;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: center;
}

::-webkit-input-placeholder {
    font-style: italic;
    color: lightgrey;
}

::-moz-placeholder {
    font-style: italic;
    color: lightgrey;
}

:-ms-input-placeholder {
    font-style: italic;
    color: lightgrey;
}

:-moz-placeholder {
    font-style: italic;
    color: lightgrey;
}

#profilePage .serverResponse {
    text-align: center;
    color: grey;
}

#profilePage #tagSelection {
    float: right;
    left: 55%;
    top: 0px;
    position: absolute;
}

@media screen and (max-width:1050px) {
    #profilePage #tagSelection {
        position: relative;
        float: none;
        left: 0%;
    }
    
    #profilePage #streamerInfoDiv {
        width: 95%;
    }
}

#profilePage .profileTagContainer {
    font-size: 1.5em;
}

#profilePage #logoutButton {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: var(--main-color);
    border-radius: 5px;
    border: 1px solid black;
}
